stages:
  - build
  - test
  - sonarqube
  - deploy

build:
  stage: build
  script:
    - cd cookery-service
    - ./gradlew build

test:
  stage: test
  script:
    - cd cookery-service
    - ./gradlew test
  dependencies:
    - build

sonarqube:
  stage: sonarqube
  script:
    - cd cookery-service
    - ./gradlew sonarqube
  dependencies:
    - test

deploy:
  stage: deploy
  script:
    - cd cookery-service
    - ./gradlew deploy
  dependencies:
    - test