stages:
  - build
  - test
  - sonarqube
  - deploy

build:
  stage: build
  script:
    - cd cookery-service
    - ./gradlew build

test:
  stage: test
  script:
    - cd cookery-service
    - ./gradlew test
  dependencies:
    - build

sonarqube:
  stage: sonarqube
  script:
    - cd cookery-service
    - ./gradlew sonarqube
  dependencies:
    - test

deploy:
  stage: deploy
  script:
    - docker build -t cookery-service:1.0 .
    - docker run -p 91:90 cookery-service:1.0
  dependencies:
    - test